In [2]:
# We know that python is a popular high level,object oriented and interpreted language

In [4]:
'''
Why we learn Python?:

(i) Largest community of Learners and Collaborators
(ii) Open Source
(iii) Easy to learn and usable flexibility
(iv) Huge numbers of python libraries and Frame work
(v) Supports Automation

'''
""

''

# How to use My SQL with Python

In [5]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ccc\anaconda3\lib\site-packages (8.0.31)
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.1/904.1 kB 1.4 MB/s eta 0:00:00
Installing collected packages: protobuf
Successfully installed protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

# 1.How to Create Connection with My SQL Server

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000154EA2E1970>

# 2.How to Create Database

In [3]:
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="Anant@123")
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Python_Database")

# Check if Database Exists

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('python_database',)
('sakila',)
('sys',)
('world',)

# 3.How to Create Table

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

table="CREATE TABLE Book(bookid integer(4),Title varchar(20),Price float(5,2))"
mycursor.execute(table)

# Check if Database Exists

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('book',)

In [14]:
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="Anant@123")
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE python_database_1")

# 4.How to Insert Data into Table

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

insert="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
value=(1,"Python",345)

mycursor.execute(insert, value)

mydb.commit()

# 5.How to Insert Multiple Data into Table

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

insert="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"
books=[(2,"PHP",145),(3,"Java",450),(4,"C",120),(5,"HTML",250),(6,"CSS",230),(7,"C++",180)]

mycursor.executemany(insert,books)

mydb.commit()

In [19]:
print(mycursor.rowcount, "was inserted.")

6 was inserted.

# How to see our Inserted Data

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM book")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Python', 345.0)
(2, 'PHP', 145.0)
(3, 'Java', 450.0)
(4, 'C', 120.0)
(5, 'HTML', 250.0)
(6, 'CSS', 230.0)
(7, 'C++', 180.0)

# 6.Selecting Columns

In [28]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT Title FROM book")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Python',)
('PHP',)
('Java',)
('C',)
('HTML',)
('CSS',)
('C++',)

In [29]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT Title,price FROM book")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Python', 345.0)
('PHP', 145.0)
('Java', 450.0)
('C', 120.0)
('HTML', 250.0)
('CSS', 230.0)
('C++', 180.0)

# fetchone() Method

In [31]:
# If you are only interested in one row, you can use the fetchone() method

# The fetchone() method will return the first row of the result

In [30]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM book")

myresult = mycursor.fetchone()

print(myresult)

(1, 'Python', 345.0)

# 7.Python MySQL Where

In [32]:
# When selecting records from a table, you can filter the selection by using the "WHERE" statement

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM book WHERE title ='HTML'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(5, 'HTML', 250.0)

# Wildcard Characters

In [10]:
# We can also select the records that starts, includes, or ends with a given letter or phrase.

# Use the %  to represent wildcard characters

In [36]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM book WHERE price LIKE '%120%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(4, 'C', 120.0)

# Prevent SQL Injection

In [37]:
# When query values are provided by the user, you should escape the values

# This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database

# The mysql.connector module has methods to escape query values

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM book WHERE price = %s"
price = ("C",)

mycursor.execute(sql, price)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

# 8.Python MySQL Delete

In [9]:
# WE can delete records from an existing table by using the "DELETE FROM" statement

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

sql = "DELETE FROM book WHERE title = 'C++'"

mycursor.execute(sql)

mydb.commit()

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT Title,price FROM book")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Python', 345.0)
('PHP', 145.0)
('Java', 450.0)
('C', 120.0)
('HTML', 250.0)
('CSS', 230.0)

# Other Method

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

sql = "DELETE FROM book WHERE title = %s"
adr = ("C", )

mycursor.execute(sql, adr)

mydb.commit()

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT Title,price FROM book")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Python', 345.0)
('PHP', 145.0)
('Java', 450.0)
('HTML', 250.0)
('CSS', 230.0)

# 9.Python MySQL Update Table

In [8]:
# You can update existing records in a table by using the "UPDATE" statement

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

update="UPDATE book SET price=price+25 WHERE price>200"

mycursor.execute(update)

mydb.commit()

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT Title,price FROM book")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Python', 370.0)
('PHP', 145.0)
('Java', 475.0)
('HTML', 275.0)
('CSS', 255.0)

# 10.Python MySQL Join

# 11.Python MySQL Drop Table

In [14]:
# You can delete an existing table by using the "DROP TABLE" statement

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

drop_table = "DROP TABLE book"

mycursor.execute(drop_table)

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Anant@123",
  database="python_database"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)
    
# No Data/Result shows after execution of program bcoz the created table is Dropped/Deleted